<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>MUSIC TO SHEET</title>
</head>
<body>
    <div align="center">
        <h1>MUSIC TO SHEET</h1>
        <a href="/">첫 페이지로</a><br><br><br>
    </div>
    <hr width="100%" color="black"/>
    <div align="center">
        <h2> {{filename}}</h2>
    </div>
    <hr width="100%" color="black"/>
    <div align="center" class="sheet" style="position: relative">
        {% if sheets | length > 1 :%}
        <button style="position: fixed;
        top: 50%;
        margin-top: -50px;
        left: 10%;
        background-color: white;
        border-color: white;">
            <img src="{{url_for('static',filename='images/prev.png')}}" width="100" height="100">
        </button>
        {% endif %}
        {% if True %}
            <img src="{{url_for('static',filename=sheets[0])}}" width="60%" height="60%">
        {% endif %}
        {% if sheets | length > 1 :%}
        <button style="position: fixed;
        top: 50%;
        margin-top: -50px;
        right: 10%;
        background-color: white;
        border-color: white;">
            <img src="{{url_for('static',filename='images/next.png')}}" width="100" height="100">
        </button>
        {% endif %}
    </div>
</body>
</html>