<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <title>MUSIC TO SHEET</title>
</head>
<body>
    <div align="center">
        <h1>MUSIC TO SHEET</h1>
        <a href="/">첫 페이지로</a><br><br><br>
    </div>
    <hr width="100%" color="black"/>
    <div align="center">
        <h2> {{filename}}</h2>
        <audio controls>
            <source src="{{url_for('static', filename='audio/'+filename)}}" type="audio/wav">
            지원하지 않는 포맷입니다.
        </audio>
    </div>
    <hr width="100%" color="black"/>
    <div align="center" class="sheet" style="position: relative">
        {% if sheets | length > 1: %}
        <button type="button" id="prev"
                style="position: fixed;
        top: 50%;
        margin-top: -50px;
        left: 10%;
        background-color: white;
        border-color: white;">
            <img src="{{url_for('static',filename='images/prev.png')}}" width="100" height="100">
        </button>
        {% endif %}
        {% if True %}
            <h3>{{sheet_idx+1}} / {{sheets | length}}</h3>
            <img src="{{url_for('static',filename=sheets[sheet_idx])}}" id="sheet" width="60%" height="60%" alt="{{sheets[sheet_idx]}}">
        {% endif %}
        {% if sheets | length > 1 : %}
        <button type="button" id="next"
                style="position: fixed;
        top: 50%;
        margin-top: -50px;
        right: 10%;
        background-color: white;
        border-color: white;">
            <img src="{{url_for('static',filename='images/next.png')}}" width="100" height="100">
        </button>
        {% endif %}

         <script type="text/javascript">
            document.getElementById("prev").addEventListener("click",prev);
            document.getElementById("next").addEventListener("click",next);

            length = {{sheets | length }};
            var idx = {{sheet_idx}};
            let filename = '{{filename}}';

            function prev(){
                if (idx == 0){
                    idx = length - 1;
                }
                else{
                    idx--;
                }

                let sheet_url = window.location.href
                var url_idx = sheet_url.indexOf('view')
                if(url_idx > 0 ){
                    sheet_url = sheet_url.substring(0,url_idx+4)
                }
                sheet_url = sheet_url + "/" + filename + "/" + idx;

                window.location.replace(sheet_url);
            }

            function next(){
                if (idx == length-1){
                    idx = 0;
                }
                else{
                    idx++;
                }

                let sheet_url = window.location.href
                var url_idx = sheet_url.indexOf('view')
                if(url_idx > 0 ){
                    sheet_url = sheet_url.substring(0,url_idx+4)
                }
                sheet_url = sheet_url + "/" + filename + "/" + idx;
                window.location.replace(sheet_url);
            }
        </script>
    </div>
</body>
</html>